* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

.header, footer, .top-section {
    background-color: #1f2937;
}

.top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.top-section-header {
    display: flex;
    justify-content: space-around;
}

.top-section-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bottom-left-section {
    max-width: 30vw;
}
.header-logo, .header-links {
    margin-bottom: 1rem;
}

.top-section-left {
    max-width: 40vw;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    list-style-type: none;
    margin: 0;
}

a {
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none;
    margin-right: 1rem;
}

.title {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.subtitle {
    font-size: 18px;
    color: #e5e7eb;
}

.img {
    width: 40vw;
    height: 250px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f9faf8;
}

.sign-up {
    background-color: #3882f6;
    color: #e5e7eb;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    margin-top: 1rem;
    font-weight: bolder;
    font-size: 18px;
}

.random-title {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin: 24px;
}

.cards-container {
    display: flex;
    justify-content: center;
}

.card-container {
    width: 150px;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card{
    width: 180px;
    height: 180px;
    border-radius: 16px;
    border: 5px solid #3882f6;
    margin-bottom: 8px;

}

.card-text {
    text-align: center;
}

.quote-section {
    background-color: #e5e7eb;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1f2937;
    max-width: 60vw;
    text-align: justify;
}

.author {
    font-size: 24px;
    color: #000;
    font-weight: bold;
    text-align: end;
}

.cta-container {
    background-color: #3882f6;
    width: 60%;
    display: flex;
    justify-content: space-around;
    padding: 3rem 4rem;
    border-radius: 6px;
}

.cta-title {
    font-size: 24px;
    color: #f9faf8;
}

.cta-section {
    height: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cta-text {
    font-size: 18px;
    color: #e5e7eb;
}

.cta-container .sign-up {
    border: 2px solid #f9faf8;
}

#footer {
    height: 10vh;
}

.copyright {
    color: #f9faf8;
    font-size: 24px;
}